@import "tailwindcss";
@tailwind utilities;



@layer components {
  .arrow{
    @apply hidden lg:block hover:cursor-pointer z-50 absolute top-1/2 -mt-11 hover:scale-110 transition ease-in-out duration-200 ;
  }

  .arrow-r{
    @apply right-12;
  }

  .arrow-l{
    @apply left-12;
  }
}

@media (max-width: 	1280px){
  .arrow > svg {
      width: 30px;
    }
}


.section-title {
  @apply text-2xl xl:text-3xl 2xl:text-4xl text-center uppercase font-light tracking-widest text-shadow-md text-white/90;
}

.timeline-data-name {
  @apply text-white text-lg md:text-xl 2xl:text-2xl
}

.diploma-detail {
  @apply font-light text-base 2xl:text-xl
}

.timeline {
  @apply border-l border-gray-300 mt-8 2xl:mt-20 py-4 2xl:py-12
}

.timeline-data { 
  @apply flex  items-center pt-4
}

.timeline-padding {
  @apply 2xl:pt-14
}

.hard-skill-mobile-title {
  @apply uppercase text-sm  tracking-widest  mb-4 text-center
}

html {
  scroll-behavior: smooth;
}

.project-div {
  @apply h-full flex justify-center items-center mx-4 my-12 sm:mx-8 lg:m-24 2xl:m-36 relative z-0
}

.project-container {
  @apply w-full max-w-5xl xl:backdrop-blur-[1px] p-6 sm:p-8 2xl:p-14 h-auto lg:h-full lg:border-double lg:border-4 border-white/80 hover:scale-[1.03] transition-all duration-300 ease-out cursor-pointer flex justify-center items-center
}

.project-title {
  @apply uppercase text-center text-xl lg:text-2xl font-light tracking-widest
}

.check-Github{
  @apply text-xs 2xl:text-sm font-light text-white/70 hover:text-white transition flex items-center gap-2
}

.project-title-container {
  @apply 2xl:pb-16 pb-4 space-y-2
}

.project-space {
  @apply space-y-6 lg:space-y-8 2xl:space-y-10
}
.project-description {
  @apply text-white/70 text-xs 2xl:text-base  leading-relaxed text-justify
}

.soft-skill-title {
  @apply uppercase text-center font-light 2xl:text-2xl transition ease-in-out delay-50 duration-250
}

.soft-skill {
  @apply uppercase font-light text-center text-xs xl:text-lg
}

.language-bar {
  @apply w-full h-1 2xl:h-1.5 bg-white/10 rounded-full overflow-hidden
}
/* hides slides bttons on 2xl */
@media (min-width: 96rem) {
  #skills .fp-slidesNav {
    display: none !important;
  }
}



.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
  }
  
  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#e8effd, #e8effd)
  }
  
  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
  }



  .flipV {
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }

  .shadowCSS{
    text-shadow: 2px 0 #0000, -2px 0 #0000, 0 2px #0000, 0 -2px #0000,
             1px 1px #0000, -1px -1px #0000, 1px -1px #0000, -1px 1px #0000;
  }


  .fixed{
    background-attachment: fixed;
  }

  .btn-dropdown {
    position: relative;
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid gray;
  }
  
  .dropdown-content-container {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.25s;
  }
  
  .btn-dropdown.open>.dropdown-content-container {
    max-height: 120px;
    transition: all 0.4s;
  }

  .transition-height {
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }


  